# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# (실습준비) 데이터 불러오기부터

* 17년도부터 21년도 까지의 데이터를 train set, 22년도의 6개월치 데이터를 test set 으로 설정합니다.

In [1]:
import pandas as pd

# 학습 데이터 로딩
df_total = pd.read_csv('df_total.csv')
df_test = pd.read_csv('df_test.csv')

---

# 1. 데이터 전처리

#### [실습문제1] 열 추가 
* 기존 '기준일ID'열에서 날짜 데이터를 추출하여 새로운 열로 추가 합니다.
    - pd.to_datetime() 함수를 사용해 '기준일ID'열을 datetime 형식으로 변경하겠습니다.
    - year, month, day 열로 기존 데이터 프레임에 연월일 정보를 저장합니다.
    - 데이터 프레임 열에 대해 날짜 정보를 얻을 때에는 **dt.year**, **dt.month**, **dt.day** 속성을 사용합니다.

In [2]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_total['기준일ID'] = pd.to_datetime(df_total['기준일ID'])

df_total['year'] = df_total['기준일ID'].dt.year
df_total['month'] = df_total['기준일ID'].dt.month
df_total['day'] = df_total['기준일ID'].dt.day

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_test['기준일ID'] = pd.to_datetime(df_test['기준일ID'])

df_test['year'] = df_test['기준일ID'].dt.year
df_test['month'] = df_test['기준일ID'].dt.month
df_test['day'] = df_test['기준일ID'].dt.day

In [4]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43512 entries, 0 to 43511
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준일ID            43512 non-null  datetime64[ns]
 1   시간대구분            43512 non-null  int64
 2   총생활인구수           43512 non-null  float64
 3   남자0세부터9세생활인구수    43512 non-null  float64
 4   남자10세부터14세생활인구수  43512 non-null  float64
 5   남자15세부터19세생활인구수  43512 non-null  float64
 6   남자20세부터24세생활인구수  43512 non-null  float64
 7   남자25세부터29세생활인구수  43512 non-null  float64
 8   남자30세부터34세생활인구수  43512 non-null  float64
 9   남자35세부터39세생활인구수  43512 non-null  float64
 10  남자40세부터44세생활인구수  43512 non-null  float64
 11  남자45세부터49세생활인구수  43512 non-null  float64
 12  남자50세부터54세생활인구수  43512 non-null  float64
 13  남자55세부터59세생활인구수  43512 non-null  float64
 14  남자60세부터64세생활인구수  43512 non-null  float64
 15  남자65세부터69세생활인구수  43512 non-null  float64
 16  남자70세이상생활인구수     43512 non-null  float64
 17  여자0세부터9세생활인구수    43512 non-null  float64
 18  여자10세부터14세생활인구수  43512 non-null  float64
 19  여자15세부터19세생활인구수  43512 non-null  float64
 20  여자20세부터24세생활인구수  43512 non-null  float64
 21  여자25세부터29세생활인구수  43512 non-null  float64
 22  여자30세부터34세생활인구수  43512 non-null  float64
 23  여자35세부터39세생활인구수  43512 non-null  float64
 24  여자40세부터44세생활인구수  43512 non-null  float64
 25  여자45세부터49세생활인구수  43512 non-null  float64
 26  여자50세부터54세생활인구수  43512 non-null  float64
 27  여자55세부터59세생활인구수  43512 non-null  float64
 28  여자60세부터64세생활인구수  43512 non-null  float64
 29  여자65세부터69세생활인구수  43512 non-null  float64
 30  여자70세이상생활인구수     43512 non-null  float64
 31  year             43512 non-null  int64
 32  month            43512 non-null  int64
 33  day              43512 non-null  int64
dtypes: datetime64[ns](1), float64(29), int64(4)
memory usage: 11.3 MB

#### [실습문제2] 불필요한 열 제거 및 열 이름 변경
* df_total과 df_test에서 '총생활인구수'외에 불필요한 열을 제거 하도록 하겠습니다.
* 시간 데이터를 남기고, '시간대구분' column 을 'hour'로 rename 하도록 하겠습니다.

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_total = df_total[['year','month','day','시간대구분','총생활인구수']]
df_total.rename(columns={'시간대구분':'hour'},inplace=True)

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_test = df_test[['year','month','day','시간대구분','총생활인구수']]
df_test.rename(columns={'시간대구분':'hour'},inplace=True)

In [7]:
df_total.head()

   year  month  day  hour      총생활인구수
0  2017      1    1     0  31535.2200
1  2017      1    1     1  31188.9174
2  2017      1    1     2  31240.4974
3  2017      1    1     3  31442.4314
4  2017      1    1     4  31922.7751

#### [실습문제3] 시프트 & 롤링
* shift()를 활용하여 이동할 행 수를 지정합니다.
* rolling()을 활용하여 추가할 이동평균 수를 지정합니다.

In [8]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_total['1d'] = df_total['총생활인구수'].shift(24)
df_total['7d'] = df_total['총생활인구수'].shift(24*7)

In [9]:
df_total.head(30)

    year  month  day  hour      총생활인구수          1d  7d
0   2017      1    1     0  31535.2200         NaN NaN
1   2017      1    1     1  31188.9174         NaN NaN
2   2017      1    1     2  31240.4974         NaN NaN
3   2017      1    1     3  31442.4314         NaN NaN
4   2017      1    1     4  31922.7751         NaN NaN
5   2017      1    1     5  33633.7304         NaN NaN
6   2017      1    1     6  34876.8006         NaN NaN
7   2017      1    1     7  35358.9775         NaN NaN
8   2017      1    1     8  36038.7688         NaN NaN
9   2017      1    1     9  37353.1794         NaN NaN
10  2017      1    1    10  37534.7596         NaN NaN
11  2017      1    1    11  38257.1671         NaN NaN
12  2017      1    1    12  38423.5288         NaN NaN
13  2017      1    1    13  37666.9073         NaN NaN
14  2017      1    1    14  37287.4833         NaN NaN
15  2017      1    1    15  38144.0804         NaN NaN
16  2017      1    1    16  37444.9623         NaN NaN
17  2017      1    1    17  37292.5709         NaN NaN
18  2017      1    1    18  38139.0160         NaN NaN
19  2017      1    1    19  37368.8302         NaN NaN
20  2017      1    1    20  35517.1900         NaN NaN
21  2017      1    1    21  34695.3430         NaN NaN
22  2017      1    1    22  35035.7382         NaN NaN
23  2017      1    1    23  30863.1777         NaN NaN
24  2017      1    2     0  31290.0276  31535.2200 NaN
25  2017      1    2     1  31221.5248  31188.9174 NaN
26  2017      1    2     2  31283.4217  31240.4974 NaN
27  2017      1    2     3  31384.6021  31442.4314 NaN
28  2017      1    2     4  32104.6669  31922.7751 NaN
29  2017      1    2     5  34465.2673  33633.7304 NaN

In [10]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_test['1d'] = df_test['총생활인구수'].shift(24)
df_test['7d'] = df_test['총생활인구수'].shift(24*7)

#### [실습문제4] 결측치 처리 및 불필요한 열 제거
* 롤링 & 시프트 과정에서 발생한 결측치를 처리하도록 하겠습니다.
* 불필요한 열을 추가로 제거 하겠습니다.(시간 관련 행들)

In [11]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_total = df_total.drop(['year','month','day','hour'], axis=1)
df_total = df_total.dropna()

In [12]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_test = df_test.drop(['year','month','day','hour'], axis=1)
df_test = df_test.dropna()

#### [실습문제5] train, test 데이터 나누기
* df_total과 df_test를 각각 train_x, train_y, test_x, test_y 로 나누어 주세요.
* 인덱스를 리셋 해주세요.

In [13]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

train_x = df_total.iloc[ :,1:]
train_y = df_total.iloc[ :,:1]

test_x = df_test.iloc[ :,1:]
test_y = df_test.iloc[ :,:1]

In [14]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

train_x = train_x.reset_index(drop=True)
train_y = train_y.reset_index(drop=True)
test_x = test_x.reset_index(drop=True)
test_y = test_y.reset_index(drop=True)

---

## 다음 단계를 위해서 데이터를 저장하겠습니다.

In [15]:
# CSV로 저장
train_x.to_csv('train_x.csv', index = False)
train_y.to_csv('train_y.csv', index = False)
test_x.to_csv('test_x.csv', index = False)
test_y.to_csv('test_y.csv', index = False)

---