#문제1

 DF(리스트에서)
일련번호, 이름, 나이(월), 몸무게로 구성된 데이터가 있다고 하자.

my = ['1 바둑이 11 7.5', '2 갑돌이 22 3.5','3 갑순이 33 5.0']

- 열1: 정수

- 열2: 문자열

- 열3: 정수

- 열4: 소수



위 my 데이터를 수정하지 말고 그로부터 데이터프레임을 만들고, 다음 (1), (2)를 답하시오.

(1) 데이터프레임의 스키마를 출력

 |-- id: integer (nullable = true)

 |-- name: string (nullable = true)

 |-- month: integer (nullable = true)

 |-- weight: float (nullable = true)



(2) 데이터프레임의 모든 내용을 출력

+---+------+-----+------+

| id|  name|month|weight|

+---+------+-----+------+

|  1|바둑이|   11|   7.5|

|  2|갑돌이|   22|   3.5|

|  3|갑순이|   33|   5.0|

+---+------+-----+------+

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=1b56458ea4fe4d0e086fd1050ff95a8b9481c370268ac7a47c6b2fc7706270ce
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
import pyspark
myConf=pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("myApp")\
    .config(conf=myConf)\
    .getOrCreate()

In [3]:
my = ['1 바둑이 11 7.5', '2 갑돌이 22 3.5','3 갑순이 33 5.0']

In [8]:
from pyspark.sql.types import *

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("month", IntegerType(), True),
    StructField("weight", FloatType(), True)
])

In [9]:
myDf=spark.createDataFrame(map(lambda line: (int(line.split()[0]),
                                             str(line.split()[1]),
                                             int(line.split()[2]),
                                             float(line.split()[3])), my),schema)
myDf

DataFrame[id: int, name: string, month: int, weight: float]

In [10]:
myDf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- weight: float (nullable = true)

In [11]:
myDf.show()

+---+------+-----+------+
| id|  name|month|weight|
+---+------+-----+------+
|  1|바둑이|   11|   7.5|
|  2|갑돌이|   22|   3.5|
|  3|갑순이|   33|   5.0|
+---+------+-----+------+